.container_gallery {
  background-image: url(../../img/gallery/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  width: 100%;
}

.gallery {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.gallery__header {
  margin-bottom: 23px;
}

.gallery__label {
  width: 100%;
  margin-bottom: auto;
}

.gallery__link {
  color: #C283F3;
  transition: color .3s ease-in-out;
}

.gallery__link:hover,
.gallery__link:focus {
  color: var(--purple-color);
}

.gallery__desqr {
  width: 85%;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

.choices {
  margin-top: 17px;
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
}

.choices__inner,
.choices__list {
  background-color: transparent;
}

.choices__inner {
  padding: 0;
  border-radius: 6px;
  min-height: 40px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
  border: 1px solid #fff;
}

.choices__inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  z-index: 100;
}

.choices__list {
  font-weight: 400;
  font-size: 16px;
  color: rgba(153,153,156);
}

.choices__list--single {
  padding: 8px 14px;
  color: #fff;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices.is-open {
  border-radius: 6px;
}

.is-open .choices__list--dropdown {
  border-color: #999;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.is-open .choices__inner::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  z-index: 100;
}

.is-flipped.is-open .choices__inner {
  border-radius: 6px;
}

.choices__list--dropdown {
  border-radius: 6px;
}

.is-flipped .choices__list--dropdown {
  border-radius: 6px;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices.is-focused:focus>.choices__inner {
  border: 1px solid #fff;
}

.choices[data-type*=select-one]::after {
  height: 14px;
  width: 14px;
  border: none;
  background-image: url(../../img/header/btnSelectDown.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right:16px;
  transform: translateY(-50%);
}

.choices[data-type*=select-one].is-open::after {
  background-image: url(../../img/header/btnSelectUp.svg);
  margin-top: 2px;
}

.gallery__right {
  width: 75%;
  padding-left: 3.1%;
}

.swiper-container {
	width: 100%;
}

.swiper-container_gallery {
	padding-top: 86px;
}

.swiper-slide {
  width: 100%;
}

.swiper__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.swiper__item {
  width: 30.5%;
}

.swiper__item_gallery:first-child {
  margin-bottom: 47px;
}


.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after,
.swiper-button-next::after,
.swiper-container-rtl .swiper-button-next::after  {
  content: none;
}

.swiper-button-next, .swiper-button-prev {
  width: 30px;
  height: 30px;
}

.swiper-button-prev:focus .swiper-button-prev_background,
.swiper-button-next:focus .swiper-button-next_background {
  stroke: var(--active-purple-color);
}

.swiper-button-prev:hover .swiper-button-prev_background,
.swiper-button-next:hover .swiper-button-next_background {
  stroke: var(--purple-color);
  fill: var(--purple-color);
}

.swiper-button-prev:hover .swiper-button-prev_tick,
.swiper-button-next:hover .swiper-button-next_tick {
  stroke: var(--white-color);
}

.swiper-button-prev:active .swiper-button-prev_background,
.swiper-button-next:active .swiper-button-next_background {
  stroke: #D1A9F0;
  fill: var(--active-purple-color);
}

/* .swiper-button-prev:focus,
.swiper-button-next:focus {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  border: 2px solid #D1A9F0;
  border-radius: 50%;
}

.path-hover {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.swiper-button-prev:hover .path-hover,
.swiper-button-next:hover .path-hover {
  opacity: 1;
} */


.swiper-button-next_gallery, .swiper-button-prev_gallery {
  top: 48px;
}

.swiper-button-next_gallery,
.swiper-container-rtl .swiper-button-prev_gallery {
  right: auto;
  left: 103px;
}

.swiper-button-prev_gallery,
.swiper-container-rtl .swiper-button-next_gallery {
  left: 0px;
  right: auto;
}

.swiper-pagination-fraction {
  top: 33px;
  left: 42px;
  width: 50px;
  font-size: 16px;
  font-weight: 400;
}
